<% content_for :title do %> About <% end %>

<h3> Sobre Caio Rolando da Rocha </h3>
<p>Nascido em Pedregulho, Brasil. Foi morar na Inglaterra,
  ingressando na faculdade de Mopery e serviu o Regimento Real de Loamshire.
  Enquanto traalhava, inventou a válvula Kanuten usada no processo de Unobtainium
  para uso industrial. Ele fundou a Industria Acme mais tarde adquidira pela
  Corporação Advento para comercializar o produto. O Sr. Rolando da Rocha está agora
  aposentado e vive em Middlehampton onde vive pescando Pacu Assado.</p>

<p>Sua citação favorita é:</p>
<p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.
  Mé faiz elementum girarzis.</p>
